extend base

block content
  main.main
    .banner-container 
      .banner-bg
        .banner__backdrop
        .banner__content
          if title == 'My tours'
            h1.banner__content--title Your booking tours
          else if title == 'Top 5 tours'
            h1.banner__content--title Best tours ever
          else
            h1.banner__content--title Pivi Travel

    if title != 'Top 5 tours' && title != 'My tours'
      form.form__filter
        a.filter(class=`${sortBy === 'price' ? 'filter--active': ''}`, href=`/tours/page/${current}/sort/price`) Sort by price 
        a.filter(class=`${sortBy === 'rating' ? 'filter--active': ''}`, href=`/tours/page/${current}/sort/ratingsAverage`) Sort by average rating
        if title != 'My tours'
          a.filter(href=`/top-5-tours`) Top 5 best cheap tours

    .card-container
      each tour in tours
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
            h3.heading-tertirary
              span= tour.name

          .card__details
            h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day Tour`
            p.card__text= tour.summary
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.startLocation.description
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              span= tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              span= `${tour.locations.length} stops`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span= `${tour.maxGroupSize} people`

          .card__footer 
            p
              span.card__footer-value= `$${tour.price} `
              span.card__footer-text per person
            p.card__ratings
              span.card__footer-value= tour.ratingsAverage
              | 
              span.card__footer-text= `rating (${tour.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details
            a.btn.btn--green.btn--small(href=`/add-review/${tour.slug}`) Rate

    //- Pagination
    - sortBy = sortBy ? `sort/${sortBy}` : ''

    if title != 'Top 5 tours' && title != 'My tours'
      nav(arial-label='page pagination')
        ul.pagination.pagination-lg.justify-content-center
          if current === 1
            li.page-item.disabled
              a.page-link(href=`#`, tabindex='-1', aria-disabled='true') Previous
          else 
            li.page-item
              a.page-link(href=`/tours/page/${current-1}/${sortBy}`) Previous
              

          if maxPage <= 3
            - for (let i = 1; i <= maxPage; i++)
              li.page-item(class=`${current === i ? 'active' : ''}`)
                a.page-link(href=`/tours/page/${i}/${sortBy}`)= i
          else
            if current < 3
              - for (let i = 1; i <= 3; i++)  
                li.page-item(class=`${current === i ? 'active' : ''}`)
                  a.page-link(href=`/tours/page/${i}/${sortBy}`)= i
              li.page-item
                a.page-link(href=`/tours/page/${maxPage}/${sortBy}`, aria-label='Last')
                  span(aria-hidden="true") &raquo;

            else if current === maxPage
              li.page-item
                a.page-link(href=`/tours/page/1/${sortBy}`, aria-label='First')
                  span(aria-hidden="true") &laquo;
              - for (let i = current - 2; i <= maxPage; i++)
                li.page-item(class=`${current === i ? 'active' : ''}`)
                  a.page-link(href=`/tours/page/${i}/${sortBy}`)= i

            
            else 
              li.page-item
                a.page-link(href=`/tours/page/1/${sortBy}`, aria-label='First')
                  span(aria-hidden="true") &laquo;
              - for (let i = current-1; i <= current+1; i++)
                li.page-item(class=`${current === i ? 'active' : ''}`)
                  a.page-link(href=`/tours/page/${i}/${sortBy}`)= i
              li.page-item
                a.page-link(href=`/tours/page/${maxPage}/${sortBy}`, aria-label='Last')
                  span(aria-hidden="true") &raquo;


          if current === maxPage
            li.page-item.disabled
              a.page-link(href=`#`, tabindex='-1', aria-disabled='true') Next
          else
            li.page-item
              a.page-link(href=`/tours/page/${current+1}/${sortBy}`) Next
    